name: production
on:
  push:
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node: [10.x, 12.x, 14.x, 16.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: yarn install
      - name: Lint
        run: yarn eslint ./
      - name: Run tests
        run: yarn test
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: coverage
  
  publish:
    environment: production
    runs-on: ubuntu-20.04
    needs: [test]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Install dependencies
        run: yarn install
      - name: Publish
        run: npm publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
